body {
    font-family: Microsoft JhengHei, serif;
    font-size: 14px;
}

.form__wrapper {
    border-top: solid 6px #fad312;
    max-width: 645px;
    box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
    margin: 129px auto 66px;
    background: #ffffff;
}

.section {
    margin: 0px 42px;
}

.form__title {
      font-size: 36px;
      font-weight: bold;
      margin-top: 54px;
}

.event__info {
    margin-top: 35px;
    line-height: 2em;
}

.warning {
    margin-top: 22px;
    font-size: 16px;
}

.red {
    color: #e74149;
}

form.section {
    padding: 55px 0px 40px;
}

.input__title {
    font-size: 20px;
}

.form__items {
    margin-bottom: 50px;
}

input[type="text"],  input[type="email"]{
    margin-top: 20px;
    font-size: 16px;
    width: 50%;
    border: solid 1px #d0d0d0;
}

.radio__option {
    margin-top: 24px;
}

.radio__option .options {
    margin-left: 10px;
}

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: solid 1px #d0d0d0;
    background-color: #bababa;
    transition: 0.2s all;
}

input:checked {
  background-color: #fad312;
  border: solid 2px #d0d0d0;
}

.form__items .words {
    line-height: 3em;
}

.form__items .caution {
    margin-top: 20px;
}

input[type="submit"] {
    width: 92px;
    height: 40px;
    border-radius: 3px;
    background-color: #fad312;
    cursor: pointer;
    border: none;
}

.footer {
    position: relative;
    height: 60px;
    width: 100%;
    background: #000000;
    color: #999999;
    bottom: 0;
    text-align: center;
    border-top: solid 3px #fad312;
}

.copyright {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@media(max-width: 780px) {
    body {
        font-size: 12px;
        text-align: -webkit-center;
    }
    .form__wrapper {
        text-align: center;
        margin: 35px 24px 36px;
    }

    .event__info {
        margin-top: 15px;
        line-height: 1.5em;
    }

    form.section {
        padding: 25px 0px 10px;
    }

    .form__title {
        font-size: 16px;
        margin-top: 35px;
    }
    input[type="text"],  input[type="email"]{
        font-size: 14px;
    }

    .section {
        margin: 0px 26px;
    }

    .input__title {
        font-size: 16px;
    }

    .form__items {
        margin-bottom: 35px;
    }

    input[type="radio"] {
            width: 10px;
            height: 10px;
    }
}
